// variables
$green: #1bb996
$blue: #006891
$grey: #3c4240
$light-red: #d85465f

@import url(https://fonts.googleapis.com/css?family=Quicksand:400,700,300)
*
  margin: 0 auto
  text-align: center

body
  background-color: $grey
  font-family: "Quicksand"

a, a:link, a:visited, a:hover, a:active
  color: white
  border-bottom: 1px dotted azure
  text-decoration: none

h1, h3, p
  color: white

h1
  font-size: 80px

h3, h2, h4, h5, h6
  font-weight: 500
  line-height: 0.5

button
  display: block
  height: 50px
  padding: 0
  width: 170px
  background: none
  margin: auto
  border: 1px solid #ffffff
  font-size: 15px
  letter-spacing: 1.5px
  color: #ffffff
  cursor: pointer
  outline: none
  text-align: center
  -moz-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s
  -o-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s
  -webkit-transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s
  transition: background 0.4s, color 0.4s, font-size 0.05s, width 0.4s, border 0.4s

button:hover
  background: #38ceae
  color: white

.italic
  font-style: italic

a.social-media
  color: none
  text-decoration: none
  border-bottom: none

img.social-media
  width: 30px
  height: auto
  margin: 0em 1em 2em

section.home
  margin: 0
  padding: 3em 0 8em
  background-color: $green

section.about
  margin: 0
  color: white
  padding: 5em 20em 5em
  background-color: $light-orange


section.schedule
  margin: 0
  color: white
  padding: 5em 20em 5em
  background-color: $light-red

section.sponsors
  margin: 0
  color: black
  padding: 5em 20em 5em
  background-color: white

section.sponsors > a, a:link, a:visited, a:hover, a:active
  color: $light-red

section.faq
  margin: 0
  color: white
  padding: 5em 20em 5em
  background-color: $green



footer.footer
  margin: 0
  padding: 2em 0
  background-color: $orange

.arrow
  bottom: 0
  width: 40px
  height: 40px
  background-image: url(../assets/images/arrow.png)
  background-size: contain
